---
- name: ASDF deps
  become: true
  ansible.builtin.apt:
    pkg:
      - git
      - curl
      - wget
      - unzip

- name: ASDF Ruby deps
  become: true
  ansible.builtin.apt:
    pkg:
      - autoconf
      - patch
      - build-essential
      - rustc
      - libssl-dev
      - libyaml-dev
      - libreadline6-dev
      - zlib1g-dev
      - libgmp-dev 
      - libncurses5-dev
      - libffi-dev
      - libgdbm6
      - libgdbm-dev 
      - libdb-dev
      - uuid-dev

- name: Install debian specific deps
  when: ansible_distribution == 'Debian'
  block:
    - name: Install libwx... for debian
      become: true
      ansible.builtin.apt:
        pkg:
          # - software-properties-common
          - libwxgtk3.2-dev
          # - libwxgtk-webview3.0-gtk3-dev
          - libwxgtk-webview3.2-dev
#     - apt_repository:
#         validate_certs: no
#         repo: 'ppa:openjdk-r/ppa'
#         state: present

- name: Install debian specific deps
  when: ansible_distribution == 'Ubuntu'
  block:
    - name: Install libwx... for ubuntu
      ansible.builtin.apt:
        pkg:
          # - software-properties-common
          - libwxgtk3.0-gtk3-dev
          # - libwxgtk-webview3.0-gtk3-dev
          - libwxgtk-webview3.0-gtk3-dev
#     - apt_repository:
#         validate_certs: no
#         repo: 'ppa:openjdk-r/ppa'
#         state: present

- name: ASDF Erlang deps
  become: true
  ansible.builtin.apt:
    pkg:
      - build-essential
      - autoconf
      - m4
      - libncurses5-dev
      # - libwxgtk3.0-gtk3-dev
      # - libwxgtk3.2-dev
      # - libwxgtk-webview3.0-gtk3-dev
      # - libwxgtk-webview3.2-dev
      - libgl1-mesa-dev
      - libglu1-mesa-dev
      - libpng-dev
      - libssh-dev
      - unixodbc-dev
      - xsltproc
      - fop
      - libxml2-utils
      - libncurses-dev
      # - openjdk-11-jdk
      - default-jre

- name: Install ASDF
  become: false
  ansible.builtin.shell: >
    git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.2 && echo ". $HOME/.asdf/asdf.sh" >> ~/.bashrc
  args:
    executable: /bin/bash
    chdir: "$HOME"
    creates: "$HOME/.asdf/asdf.sh"
  tags:
    - skip_ansible_lint
- name: Install erlang
  become: false
  ansible.builtin.shell: >
    /bin/bash -c ". $HOME/.asdf/asdf.sh && asdf plugin add erlang && asdf install erlang latest"
  args:
    executable: /bin/bash
    chdir: "{{ ansible_env.HOME }}"
    creates: "{{ ansible_env.HOME }}/.asdf/installs/erlang"
- name: Install elixir
  become: false
  ansible.builtin.shell: >
    /bin/bash -c ". $HOME/.asdf/asdf.sh && asdf plugin add elixir && asdf install elixir latest"
  args:
    executable: /bin/bash
    chdir: "{{ ansible_env.HOME }}"
    creates: "{{ ansible_env.HOME }}/.asdf/installs/elixir/"
- name: Install Node.js
  become: false
  ansible.builtin.shell: >
    /bin/bash -c ". $HOME/.asdf/asdf.sh && asdf plugin add nodejs && asdf install nodejs latest"
  args:
    executable: /bin/bash
    chdir: "{{ ansible_env.HOME }}"
    creates: "{{ ansible_env.HOME }}/.asdf/installs/nodejs/"
- name: Install Ruby
  become: false
  ansible.builtin.shell: >
    /bin/bash -c ". $HOME/.asdf/asdf.sh && asdf plugin add ruby && asdf install ruby latest"
  args:
    executable: /bin/bash
    chdir: "{{ ansible_env.HOME }}"
    creates: "{{ ansible_env.HOME }}/.asdf/installs/ruby/"
