# ---
# - hosts: localhost
#   become: true
#   # roles:
#   #   role: .
#   # tasks_from: login

#   tasks:
#     - include_role:
#       name: ansible_molecule_shit
#       # tasks_from: chrome


---
- name: Include entire ansible_molecule_shit role
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Include role
      ansible.builtin.include_role:
        name: ansible_molecule_shit
