---
name: Molecule

# on:
#   push:
#     branches:
#       - master
#   pull_request:
#     branches:
#       - master
on: [push]

jobs:
  molecule:
    # runs-on: ubuntu-latest
    runs-on: macos-12
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # - name: Set up Python
      #   uses: actions/setup-python@v2
      #   with:
      #     python-version: '3.9'

      - name: Install dependencies.
        run: pip3 install yamllint ansible-lint ansible molecule-docker molecule-plugins python-vagrant

      - name: Install Galaxy dependencies.
        run: |
          ansible-galaxy collection install community.docker

      # - name: Molecule
      #   uses: gofrolist/molecule-action@v2
      #   with:
      #     molecule_command: test
      #     # molecule_args: -d docker
      #     molecule_working_dir: roles/ansible_molecule_shit
      #   env:
      #     ANSIBLE_FORCE_COLOR: '1'

      - name: Setup upterm session
        uses: lhotari/action-upterm@v1
        with:
          ## limits ssh access and adds the ssh public key for the user which triggered the workflow
          limit-access-to-actor: true
          ## limits ssh access and adds the ssh public keys of the listed GitHub users
          limit-access-to-users: sigmaray

      - name: Run molecule
        run: "cd roles/ansible_molecule_shit && molecule test"

      - name: Cache Vagrant boxes
        uses: actions/cache@v2
        with:
          path: ~/.vagrant.d/boxes
          key: ${{ runner.os }}-vagrant-${{ hashFiles('Vagrantfile') }}
          restore-keys: |
            ${{ runner.os }}-vagrant-
